body {
    background-image: url("Basketball.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: auto;
    width: 700px;
    text-align: center;
}

.column {
    display: inline-block;
    justify-content: center;
    margin: 0 30px;
}

.container {
    background-color: #1B244A;
    font-weight: bold;
    color: #EEEEEE;
    margin-top: 50px;
    border: #F94F6D solid 5px;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#score {
    background: #0a0001;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 150px;
    color: #F94F6D;
    border-radius: 4px;
    width: 180px;
    height: 180px;
    margin: 20px;
}

#score2 {
    background: #0a0001;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 150px;
    color: #F94F6D;
    border-radius: 4px;
    width: 180px;
    height: 180px;
    margin: 20px;
}

button {
    background-color: #1B244A;
    color: #EEEEEE;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: medium;
    width: 50px;
    height: 50px;
    border: #EEEEEE 1px solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 2px;
}

h3 {
    font-size:xx-large;
    font-style: italic;
}

#startagain-btn {
    background-color: #1B244A;
    color: #F94F6D;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-left: 270px;
    margin-top: 40px;
    padding-top: 10px;
    height: 50px;
    width: 150px;
    border: black solid 2px;
}
